# Lists

In [103]:
mithai = ['halwa','Kheer','Jalebi']
type(mithai)

list

In [104]:
mithai[0]

'halwa'

In [105]:
mithai[1]

'Kheer'

In [106]:
mithai[-1]

'Jalebi'

In [107]:
mithai[1:3]  #we need to give 1 extra for the final range otherwise it will not include the last element

['Kheer', 'Jalebi']

In [108]:
len(mithai)

3

In [109]:
'samosa' in mithai

False

In [110]:
'samosa' not in mithai

True

In [111]:
mithai.append('laddoo')  # append will add the item at the end of the list
mithai.insert(2,'peda') # insert will add the item at the perticular index
print(mithai)

['halwa', 'Kheer', 'peda', 'Jalebi', 'laddoo']

In [112]:
namkeen = ['samosa','momo','spring-roll','gol-gappa','chat']
print(namkeen)

['samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat']

Concatination

In [113]:
food = mithai+namkeen
print(food)

['halwa', 'Kheer', 'peda', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat']

In [114]:
food.append('Kachori')
print(food)

['halwa', 'Kheer', 'peda', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']

In [115]:
# Replacing the value of the perticular index
print("Original List - ",food)
food[1]='Rasmalai'
print("Updated List - ",food)

Original List -  ['halwa', 'Kheer', 'peda', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']
Updated List -  ['halwa', 'Rasmalai', 'peda', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']

In [116]:
food[1:3] = 'Puri'
print(food) # Now it will print all the character as a different word

['halwa', 'P', 'u', 'r', 'i', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']

In [117]:
food[1:5]=['Puri']  # Now replacing the different characters as a perticular word.
print(food)

['halwa', 'Puri', 'Jalebi', 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']

In [118]:
# Replacing with numbers because list can contain different datatypes.

food[1:3] = [5,6,7,8]
print(food)

['halwa', 5, 6, 7, 8, 'laddoo', 'samosa', 'momo', 'spring-roll', 'gol-gappa', 'chat', 'Kachori']

In [119]:
food.index('samosa')

6

In [120]:
food.reverse()
print(food)

['Kachori', 'chat', 'gol-gappa', 'spring-roll', 'momo', 'samosa', 'laddoo', 8, 7, 6, 5, 'halwa']

# Exercise

In [121]:
'''Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190

Create a list to store these monthly expenses and using that find out,
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this'''

'Let us say your expense for every month are listed below,\nJanuary - 2200\nFebruary - 2350\nMarch - 2600\nApril - 2130\nMay - 2190\n\nCreate a list to store these monthly expenses and using that find out,\n1. In Feb, how many dollars you spent extra compare to January?\n2. Find out your total expense in first quarter (first three months) of the year.\n3. Find out if you spent exactly 2000 dollars in any month\n4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list\n5. You returned an item that you bought in a month of April and\ngot a refund of 200$. Make a correction to your monthly expense list\nbased on this'

In [122]:
monthlyExpense = [2200,2350,2600,2130,2190]
jan = monthlyExpense[0]
feb = monthlyExpense[1]
print(feb-jan)

150

In [123]:
print(monthlyExpense[0]+monthlyExpense[1]+monthlyExpense[2])

7150

In [124]:
2000 in monthlyExpense

False

In [125]:
monthlyExpense.append(1980)
print(monthlyExpense)

[2200, 2350, 2600, 2130, 2190, 1980]

In [126]:
monthlyExpense[3]=monthlyExpense[3]-200
print(monthlyExpense)

[2200, 2350, 2600, 1930, 2190, 1980]

In [127]:
'''You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)'''

"You have a list of your favourite marvel super heros.\nheros=['spider man','thor','hulk','iron man','captain america']\nUsing this find out,\n\n1. Length of the list\n2. Add 'black panther' at the end of this list\n3. You realize that you need to add 'black panther' after 'hulk',\n   so remove it from the list first and then add it after 'hulk'\n4. Now you don't like thor and hulk because they get angry easily :)\n   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).\n   Do that with one line of code.\n5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)"

In [128]:
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [129]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [130]:
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [131]:
heros[1:3]=['doctor s']
print(heros)

['spider man', 'doctor s', 'black panther', 'iron man', 'captain america']

In [132]:
heros.sort()
heros

['black panther', 'captain america', 'doctor s', 'iron man', 'spider man']