# Dictionary and Tuples

In [2]:
# Dictionary allow us to store the key value pairs

In [3]:
d = {"Aditya":8603735895,"Adarsh":7232936171,"Babu":91204091200}
d

{'Aditya': 8603735895, 'Adarsh': 7232936171, 'Babu': 91204091200}

In [4]:
d["Aditya"] # Names are stored as key and the numbers are stored as values

8603735895

In [5]:
# Adding the more elements in the dictionary
d["Yadav"]=65944112118
print(d)

{'Aditya': 8603735895, 'Adarsh': 7232936171, 'Babu': 91204091200, 'Yadav': 65944112118}

In [6]:
# Deleteing the element from the dictionary
del d["Yadav"]
d

{'Aditya': 8603735895, 'Adarsh': 7232936171, 'Babu': 91204091200}

In [7]:
# Iterating over the dictionary
for key in d:
    print("key: ",key,", Value: ",d[key])

''' These are the two methods of doing the same thing'''

for key,value in d.items():
    print("key: ",key,", Value: ",value)

key:  Aditya , Value:  8603735895
key:  Adarsh , Value:  7232936171
key:  Babu , Value:  91204091200
key:  Aditya , Value:  8603735895
key:  Adarsh , Value:  7232936171
key:  Babu , Value:  91204091200

In [8]:
"Aditya Mishra" in d
"Aditya" in d

True

In [9]:
d.clear()
d

{}

# Tuples

In [10]:
'''Tuples are nothing but list of values grouped together'''
point = (5,9)
point[0]

5

In [11]:
''' The main difference between lists and tuple is that list have all the values similar meaning and tuples have all the value have different meanings'''
 # Tuples are immutable

point[0]=10
print(point) # will give a error

TypeError: 'tuple' object does not support item assignment